@model FinalProject.Models.ViewModels.EditChoreViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.User"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recurrence" class="control-label"></label>
                <select asp-for="Recurrence" class="form-control" asp-items="ViewBag.Recurrence"></select>
                <span asp-validation-for="Recurrence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completed" class="control-label"></label>
                <input asp-for="Completed" class="form-control" />
                <span asp-validation-for="Completed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>*@
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User (Optional)</label>
                <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(Model.UserOptions, "Id", "FirstName"))">
                    <option value="">-- Select User --</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Label (Optional)</label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.CategoryOptions, "Id", "Title"))" class="form-control">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recurrence" class="control-label"></label>
                <select asp-for="Recurrence" asp-items="@(new SelectList(Model.RecurrenceOptions))" class="form-control">
                    <option value="">-- Select Recurrence --</option>
                </select>
                <span asp-validation-for="Recurrence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completed" class="control-label"></label>
                <select asp-for="Completed" asp-items="@(new SelectList(Model.CompletedOptions))" class="form-control">
                    <option value="">-- Select Completed --</option>
                </select>
                <span asp-validation-for="Completed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedMonths" class="control-label">Semi-Monthly Month Selection (Optional)</label>
                <select asp-for="SelectedMonths" asp-items="@(new SelectList(Model.MonthOptions))" multiple class="form-control"></select>
                <span asp-validation-for="SelectedMonths" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
